.DS_Store
*.xcuserstate
*.xcworkspace
*.xcodeproj
*.idea/
*.vscode/

.swiftpm/
Packages/


.build/
*.xcodeproj/project.xcworkspace/
*.xcuserdata/


*.moved-aside
*.hmap

.build/artifacts/swiftlint/SwiftLintBinary/

build/
DerivedData/
.build/
